.product-slider {
    background-color: #111;
    color: #fcfcfc;
    padding: 40px;
    text-align: center;
    position: relative;
    height: 500px;
    
  }
  
  .slide {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
  }
  
  .product-content {
    max-width: 500px;
    text-align: left;
    padding-left: 200px;
  }
  .product-content h1{
    font-size: 40px;
  }
  
  .product-content h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .product-content .description {
    font-size: 50px;
    color: #ddd;
    margin-bottom: 20px;
  }
  
  .product-content .price {
    font-size: 30px;
    font-weight: bold;
    color: #e53935;
  }
  
  .product-content .original-price {
    text-decoration: line-through;
    color: #999;
  }
  
  .product-content .shop-now {
    background-color: #e53935;
    color: #fff;
    padding: 10px 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .product-image img {
    width: 700px;
    height: 500px;
    padding-left: 900px;
    margin-top: -400px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 20px;
  }
  
  .slick-dots li button:before {
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before {
    color: #e53935;
  }
  